name: "PWM_test"
version: "1.0.10"
slug: "cis3"
description: "Add-on for monitoring ADC,LIN&CAN communication and PWM controll "
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
startup: "services"
ingress: true
panel_icon: mdi:chip
panel_title: " ADC-LIN-CAN-PWM"
ingress_port: 8099
ports:
  8765/tcp: 8765  # WebSocket 
homeassistant_api: true
host_network: true
map:
  - spi
  - config
  - dev
options:
  mqtt_user: "mqtt"     
  mqtt_pass: "mqtt_pass"       
schema:
  mqtt_user: str
  mqtt_pass: str
environment:
  MQTT_USER: "${mqtt_user}"
  MQTT_PASS: "${mqtt_pass}"
  RPI_LGPIO_CHIP: "4"
devices:
  - /dev/spidev1.1:/dev/spidev1.1
  - /dev/spidev1.0:/dev/spidev1.0
  - /dev/ttyAMA2:/dev/ttyAMA2
  - /dev/gpiochip4:/dev/gpiochip4
  - /dev/mem:/dev/mem
privileged:
  - SYS_RAWIO
device_tree: true