name: "CAN_test"
version: "1.0.1.4"
slug: "cis3"
description: "Add-on for monitoring ADC and LIN&CAN communication "
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
startup: "services"
ingress: true
panel_icon: mdi:chip
panel_title: " ADC-LIN-CAN"
ingress_port: 8099
ports:
  8765/tcp: 8765  # WebSocket 
homeassistant_api: true
host_network: true
map:
  - spi
  - config
  - dev
options:
  mqtt_user: "mqtt"     
  mqtt_pass: "mqtt_pass"       
schema:
  mqtt_user: str
  mqtt_pass: str
environment:
  MQTT_USER: "${mqtt_user}"
  MQTT_PASS: "${mqtt_pass}"
devices:
  - /dev/spidev1.1:/dev/spidev1.1
  - /dev/spidev1.0:/dev/spidev1.0
  - /dev/ttyAMA2:/dev/ttyAMA2
