name: "PWM_test"
version: "1.0.15"
slug: "cis3"
description: "Add-on for monitoring ADC,LIN&CAN communication and PWM controll "
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
startup: "services"
ingress: true
panel_icon: mdi:chip
panel_title: " ADC-LIN-CAN-PWM"
ingress_port: 8099
ports:
  8765/tcp: 8765  # WebSocket 
homeassistant_api: true
host_network: true
map:
  - spi
  - config
  - dev
options:
  mqtt_user: "mqtt"     
  mqtt_pass: "mqtt_pass"
schema:
  mqtt_user: str
  mqtt_pass: str
environment:
  MQTT_USER: "mqtt"
  MQTT_PASS: "mqtt_pass"
  RPI_LGPIO_CHIP: "4"
  PWM_DAEMON_HOST: "172.30.32.1"
  PWM_DAEMON_PORT: "9000"
devices:
  - /dev/spidev0.0:/dev/spidev0.0
  - /dev/spidev0.1:/dev/spidev0.1
  - /dev/ttyAMA2:/dev/ttyAMA2
  - /dev/gpiochip4:/dev/gpiochip4